<div class="row">
    <div class="col s12 m9 l10">
        <div id="introduction" class="section scrollspy">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu sollicitudin felis. Maecenas vel ipsum vitae libero feugiat dictum. Quisque sagittis sodales felis, ut fringilla arcu porttitor vel. Quisque eget lobortis urna, at maximus lacus. Proin ornare ultricies nisl, at volutpat velit malesuada et. Morbi bibendum, diam et scelerisque placerat, arcu odio finibus quam, a lobortis nunc sem nec urna. Ut in ex sed nulla lobortis volutpat. Donec at quam eget diam pulvinar interdum id a risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu sollicitudin felis. Maecenas vel ipsum vitae libero feugiat dictum. Quisque sagittis sodales felis, ut fringilla arcu porttitor vel. Quisque eget lobortis urna, at maximus lacus. Proin ornare ultricies nisl, at volutpat velit malesuada et. Morbi bibendum, diam et scelerisque placerat, arcu odio finibus quam, a lobortis nunc sem nec urna. Ut in ex sed nulla lobortis volutpat. Donec at quam eget diam pulvinar interdum id a risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu sollicitudin felis. Maecenas vel ipsum vitae libero feugiat dictum. Quisque sagittis sodales felis, ut fringilla arcu porttitor vel. Quisque eget lobortis urna, at maximus lacus. Proin ornare ultricies nisl, at volutpat velit malesuada et. Morbi bibendum, diam et scelerisque placerat, arcu odio finibus quam, a lobortis nunc sem nec urna. Ut in ex sed nulla lobortis volutpat. Donec at quam eget diam pulvinar interdum id a risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu sollicitudin felis. Maecenas vel ipsum vitae libero feugiat dictum. Quisque sagittis sodales felis, ut fringilla arcu porttitor vel. Quisque eget lobortis urna, at maximus lacus. Proin ornare ultricies nisl, at volutpat velit malesuada et. Morbi bibendum, diam et scelerisque placerat, arcu odio finibus quam, a lobortis nunc sem nec urna. Ut in ex sed nulla lobortis volutpat. Donec at quam eget diam pulvinar interdum id a risus.</p>

        </div>

        <div id="structure" class="section scrollspy">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu sollicitudin felis. Maecenas vel ipsum vitae libero feugiat dictum. Quisque sagittis sodales felis, ut fringilla arcu porttitor vel. Quisque eget lobortis urna, at maximus lacus. Proin ornare ultricies nisl, at volutpat velit malesuada et. Morbi bibendum, diam et scelerisque placerat, arcu odio finibus quam, a lobortis nunc sem nec urna. Ut in ex sed nulla lobortis volutpat. Donec at quam eget diam pulvinar interdum id a risus.</p>
        </div>

        <div id="initialization" class="section scrollspy">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu sollicitudin felis. Maecenas vel ipsum vitae libero feugiat dictum. Quisque sagittis sodales felis, ut fringilla arcu porttitor vel. Quisque eget lobortis urna, at maximus lacus. Proin ornare ultricies nisl, at volutpat velit malesuada et. Morbi bibendum, diam et scelerisque placerat, arcu odio finibus quam, a lobortis nunc sem nec urna. Ut in ex sed nulla lobortis volutpat. Donec at quam eget diam pulvinar interdum id a risus.</p>
        </div>
    </div>
    <div class="col hide-on-small-only m3 l2" style="position: fixed; right:0">
        <ul class="section table-of-contents">
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#structure">Structure</a></li>
            <li><a href="#initialization">Intialization</a></li>
        </ul>
    </div>
</div>