
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../js/materialize.min.js"></script>
  <script>
      $(document).ready(function() {
          function toastContent() {
              var $toastContent = $('<span>I am toast content</span>');
              Materialize.toast($toastContent, 5000);
          }

          function featureDiscover(){
              $('.tapTarget').tapTarget('open');
          }



          console.log('shit');
          $('select').material_select();
          $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15 // Creates a dropdown of 15 years to control year
          });
          $('input#input_text, textarea#textarea1').characterCounter();
          $('input.autocomplete').autocomplete({
              data: {
                  "Apple": null,
                  "Microsoft": null,
                  "Google": 'http://placehold.it/250x250'
              },
              limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
          });
          $(".dropdown-button").dropdown();
          $(".button-collapse").sideNav();
          $('.normal').carousel();
          $('.collapsible').collapsible();
          $('.popout').collapsible();
          $('.expandable').collapsible();
          $('.carousel.carousel-slider').carousel({fullWidth: true});
          $('#toastBtn').click(function(){
              toastContent();
          });

          $('.tap-btn').click(function(){
              featureDiscover();
          });

          $('.tooltipped').tooltip({delay: 50});
          $('.slider').slider();

          $('#scale-demo-trigger').click(function(){
              $('.scale-transition').toggleClass('scale-out');
          })

          $('#openModalOne').click(function(){

          });

          $('.modal').modal({
                      dismissible: true, // Modal can be dismissed by clicking outside of the modal
                      opacity: .5, // Opacity of modal background
                      inDuration: 300, // Transition in duration
                      outDuration: 200, // Transition out duration
                      startingTop: '4%', // Starting top style attribute
                      endingTop: '10%', // Ending top style attribute
                      ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
                          console.log(modal, trigger);
                      },
                      complete: function() { console.log('close') } // Callback for Modal close
                  }
          );
          $('.parallax').parallax();
          $('.scrollspy').scrollSpy();
          $('.button-collapse').sideNav({
                      menuWidth: 300, // Default is 300
                      edge: 'left', // Choose the horizontal origin
                      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                      draggable: true // Choose whether you can drag to open on touch screens
                  }
          );
          $('ul.tabs').tabs({
              swipeable: true
          });

          $('.staggeredBtn').click(function(){
              Materialize.showStaggeredList('#staggered-test');
          });
          $('.fadeBtn').click(function(){
              Materialize.fadeInImage('#image-test');
          });

          $('.pushpin-demo-nav').each(function() {
              var $this = $(this);
              var $target = $('#' + $(this).attr('data-target'));
              $this.pushpin({
                  top: $target.offset().top,
                  bottom: $target.offset().top + $target.outerHeight() - $this.height()
              });
          });
          $('.target').pushpin({
              top: 0,
              bottom: 1000,
              offset: 0
          });

          var options = [{
              selector: '#scrollFire',
              offset: 50,
              callback: function(el) {
                  Materialize.toast("This is our ScrollFire Demo!", 1500);
              }
          },
          {
              selector: '#scrollFire',
              offset: 805,
              callback: function(el) {
                  Materialize.toast("Please continue scrolling!", 1500);
              }
          },
              {
                  selector: '#scrollFire',
                  offset: 1005,
                  callback: function(el) {
                      Materialize.toast("Last One!", 1500);
                  }
              },
          ];
          Materialize.scrollFire(options);

      });
  </script>
  </body>
</html>
