<div class="row">
    <div class="input-field col s12">
        <select class="icons">
            <option value="" disabled selected>Choose your option</option>
            <option value="" data-icon="../../images/sample-1.jpg" class="circle">example 1</option>
            <option value="" data-icon="../../images/office.jpg" class="circle">example 2</option>
            <option value="" data-icon="../../images/yuna.jpg" class="circle">example 1</option>
        </select>
        <label>Images in select</label>
    </div>
</div>
