<div>
    <h5 class="left-align">This should be left aligned</h5>
</div>
<div>
    <h5 class="right-align">This should be right aligned</h5>
</div>
<div>
    <h5 class="center-align">This should be center aligned</h5>
</div>