<div class="row">
    <div class="input-field col s12">
        <select multiple>
            <optgroup label="team 1">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
            </optgroup>
            <optgroup label="team 2">
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </optgroup>
        </select>
        <label>Optgroups</label>
    </div>
</div>

