<a href="#!" class="btn staggeredBtn">Click Me</a>

<ul id="staggered-test">
    <li class="" style="transform: translateX(0px); opacity: 1;">
        <h4><a href="#">List Item</a></h4>
        <p>This is a description</p>
    </li>
    <li class="" style="transform: translateX(0px); opacity: 1;">
        <h4><a href="#">List Item</a></h4>
        <p>This is a description</p>
    </li>
    <li class="" style="transform: translateX(0px); opacity: 1;">
        <h4><a href="#">List Item</a></h4>
        <p>This is a description</p>
    </li>
    <li class="" style="transform: translateX(0px); opacity: 1;">
        <h4><a href="#">List Item</a></h4>
        <p>This is a description</p>
    </li>
    <li class="" style="transform: translateX(0px); opacity: 1;">
        <h4><a href="#">List Item</a></h4>
        <p>This is a description</p>
    </li>
</ul>